<!-- new.html.erb -->
<h1>Add Song to <%= @artist.name %> Playlist</h1>

<form action="/artists/<%= @artist.id %>/songs" method="POST" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label>Song Title:
    <input type="text" name="name" />
  </label>

  <label>Year:
    <input type="int" name="year" />
  </label>

  <button>Submit</button>
</form>